<div id="logo" class="w-1/2 pl-4">
  <a class="text-2xl font-bold text-[#72813A] tan-font" href="/"
    >The Soap Apothecary</a
  >
</div>
<nav class="flex justify-between items-center w-full">
  <ul class="flex justify-end items-center w-full gap-8 pr-4">
    <%- navHTML %>
  </ul>
</nav>
