<div id="logo">
  <a href="/">
    <img src="https://placehold.co/300x80/jpg" alt="Site Logo" />
  </a>
</div>
<nav class="flex justify-between items-center w-full">
  <ul class="flex justify-end items-center w-full gap-8 pr-4">
    <%- navHTML %>
  </ul>
</nav>
