<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %></title>
<link rel="stylesheet" href="/css/main.css" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="/js/responsive-nav.js" defer></script>
<% if (styles && styles.length > 0) { %> <% styles.forEach((style) => { %> <%-
style %> <% }); %> <% } %> <% if (scripts && scripts.length > 0) { %> <%
scripts.forEach((script) => { %> <%- script %> <% }); %> <% } %>
