<div class="flex flex-col items-center justify-center gap-8 h-screen">
  <h1 class="text-3xl font-bold"><%= title %></h1>
  <p class="text-lg"><%= error %></p>
  <a href="/" class="bg-[#72813A] text-white py-3 px-6 rounded-lg text-lg"
    >Return to Homepage</a
  >
  <img src="/images/error.jpg" alt="error" class="w-100 h-100" />
</div>
